.container {
  padding: 20px;
  max-width: 95%;
  margin: 0 auto;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filters-row {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.table-container {
  overflow: auto;
  background: white;
}

table {
  width: 100%;
}

/* Estilos de las etiquetas Activo/Inactivo */
.badge {
  padding: 6px 12px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 0.85rem;
}

.bg-success {
  background-color: #2e7d32; /* Verde */
}

.bg-danger {
  background-color: #d32f2f; /* Rojo */
}