.success-container {
  text-align: center;
  padding: 20px;
}

.icon-success {
  font-size: 60px;
  height: 60px;
  width: 60px;
  color: #4ade80; 
  margin-bottom: 10px;
}

h2 {
  font-weight: 600;
  color: #374151;
}

.message {
  font-size: 1rem;
  color: #6b7280;
  margin-bottom: 20px;
}

button {
  margin: 0 5px;
}